*{
    box-sizing: border-box;
}

body{
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    background-color: #eee;
    text-align: center;
    font-family: sans-serif;
}

#column{
    background-color: white;
    margin:0 auto;
    width: 900px;   
    padding: 25px;
}

svg{
    width:100%;
    border: 1px solid #ddd;
}

